%p#notice= notice

%p
  %b Titulo:
  = @pagina.titulo
%p
  %b Contenido:
  = @pagina.contenido
%p
  %b Created at:
  = @pagina.created_at
%p
  %b Modified at:
  = @pagina.modified_at

= link_to 'Edit', edit_pagina_path(@pagina)
\|
= link_to 'Back', paginas_path
